---
import PointSpan from "@components/commons/PointSpan.astro";
import LeftLine from "@components/commons/LeftLine.astro";
import AboutSubHeader from "@components/about/SubHeader.astro";
import type { MarkdownInstance } from "astro";

interface ProjectAbout {
  title: string;
  period: string;
  urls: { src: string; alt: string }[];
  stacks: string[];
  summerize: string;
}

const projectAboutPosts = Object.values(
  import.meta.glob("@contents/projects/*.md", {
    eager: true,
  }),
) as MarkdownInstance<ProjectAbout>[];
---

<div class="flex flex-col gap-8 my-12 w-[420px]:gap-4">
  <div class="flex justify-between items-baseline">
    <h2>
      <PointSpan text="Projects" className="text-5xl font-bold" />
    </h2>
    <!-- TODO: link to project page -->
    <a class="border p-2 py-1 rounded-lg text-gray-600 border-gray-600 hover:bg-gray-200 transition-[background-color] text-sm cursor-pointer">
      더보기 →
    </a>
  </div>
  <LeftLine>
    {
      projectAboutPosts.map((post) => (
        <AboutSubHeader period={post.frontmatter.period}>
          <div class="text-2xl" slot="title">
            {post.frontmatter.title}
          </div>
        </AboutSubHeader>
        <div>{post.frontmatter.summerize}</div>
      ))
    }
  </LeftLine>
</div>
