---
import PointSpan from "@components/commons/PointSpan.astro";
import LeftLine from "@components/commons/LeftLine.astro";
import AboutSubHeader from "@components/about/SubHeader.astro";
import type { MarkdownInstance } from "astro";

interface ProjectAbout {
  title: string;
  period: string;
  urls: { src: string; alt: string }[];
  stacks: string[];
  summerize: string;
}

const projectAboutPosts = Object.values(
  import.meta.glob("@contents/projects/*.md", {
    eager: true,
  }),
) as MarkdownInstance<ProjectAbout>[];
---

<div class="w-[420px]:gap-4 my-12 flex flex-col gap-8">
  <div class="flex items-baseline justify-between">
    <h2>
      <PointSpan text="Projects" className="text-5xl font-bold" />
    </h2>
    <!-- TODO: link to project page -->
    <a
      class="cursor-pointer rounded-lg border border-gray-600 p-2 py-1 text-sm text-gray-600 transition-[background-color] hover:bg-gray-200"
    >
      더보기 →
    </a>
  </div>
  <LeftLine>
    {
      projectAboutPosts.map((post) => (
        <>
          <AboutSubHeader period={post.frontmatter.period}>
            <div class="text-2xl" slot="title">
              {post.frontmatter.title}
            </div>
          </AboutSubHeader>
          <div>{post.frontmatter.summerize}</div>
        </>
      ))
    }
  </LeftLine>
</div>
