<nav>
    <div id="nav">
        <ul class="navigation menu-hover-lines">
            <a href="/" class="nav-header">Oripk's Blog</a>
            <li><a href="/boards">boards</a></li>
            <li><a href="#">MAIN 02</a></li>
            <li><a href="#">MAIN 03</a></li>
            <li>
                <div class="dropdown">
                    <button class="dropdown-button">Dropdown</button>
                    <div class="dropdown-content">
                        <a href="#">HTML</a>
                        <a href="#">CSS</a>
                        <a href="#">NODEJS</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
  </nav>