---
import { getCollection, getEntry, render } from "astro:content";
import BlogLayout from "@/layouts/BlogLayout.astro";
import DefaultProse from "@/components/commons/DefaultProse.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map(({ id }) => ({
    params: { id },
  }));
}

const { id } = Astro.params;

const post = await getEntry("blog", id);
if (!post) {
  throw new Error(`Post with id ${id} not found`);
}

const { Content } = await render(post);
---

<BlogLayout>
  <div class="absolute top-0 left-0 z-10 w-full">
    <div class="relative">
      <div class="scale-90">
        <div
          class="pointer-events-none h-[600px] w-full rounded-4xl bg-cover object-cover blur select-none"
          style={{
            backgroundImage: `url(${
              post.data.cover?.type === "external"
                ? post.data.cover.external.url
                : post.data.cover?.file.url
            })`,
          }}
        >
          <div
            class="top-0 left-0 h-full w-full bg-white/30 backdrop-brightness-110 dark:bg-gray-900/30"
          >
          </div>
        </div>
        <a
          href="/blog"
          class="absolute bottom-4 left-4 z-10 inline-block translate-0 rounded-full bg-white p-3 text-gray-600 no-underline transition-all duration-300 hover:-translate-x-3 hover:text-gray-900 dark:bg-gray-800 dark:text-gray-400 dark:hover:text-gray-100"
        >
          &larr; Back to Blog
        </a>
      </div>
      <h1
        class="absolute top-1/2 left-1/2 my-16 w-5/6 -translate-x-1/2 -translate-y-full text-center text-7xl font-semibold break-keep"
      >
        {post.data.properties.title}
      </h1>
    </div>
  </div>
  <div class="h-[500px]"></div>
  <DefaultProse>
    <Content />
  </DefaultProse>
</BlogLayout>
