<!DOCTYPE html>
<html lang="ko_KR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
    <link href="/includes/css/common.css" rel="stylesheet">
    <link href="/includes/css/index.css" rel="stylesheet">
</head>
<body>
    <%- include('includes/header') %>
    <div class="container">
        <div class="card">
            <div class="card-head">
                안녕하세요! ORIPK의 블로그입니다!
            </div>
            <div class="card-sub">
                이 블로그는 2021년부터 공부한 또는 공부할 내용을 적을 공간입니다.<br>
                오류가 있을시 cotmd6203@naver.com으로 연락 주시면 됩니다.
            </div>
        </div>
        <div class="board">
            <h1>1번 보드</h1>
            <div class="board-card-set">
                <div class="board-card">
                    이게 맞지?
                </div>
            </div>
        </div>
        <div class="board">
            <h1>2번 보드</h1>
        </div>
        <div class="board">
            <h1>3번 보드</h1>
        </div>
        <div class="board">
            <h1>4번 보드</h1>
        </div>
    </div>
<script src="/includes/js/jquery.min.js"></script>
</body>
</html>
