---
import PointSpan from "@components/commons/PointSpan.astro";
---

<div class="flex flex-col gap-8 my-24">
  <h2>
    <PointSpan text="Experiences" className="text-5xl font-bold" />
  </h2>
</div>
