---
import PointSpan from "@components/commons/PointSpan.astro";
import LeftLine from "@components/commons/LeftLine.astro";
import DefaultProse from "@components/commons/DefaultProse.astro";
import AboutSubHeader from "@components/about/SubHeader.astro";
import { Content as BuzzvilContent } from "@contents/experiences/buzzvil.md";
import { Content as JungleContent } from "@contents/experiences/krafton-jungle.md";
import { Content as EconovationContent } from "@contents/experiences/econovation.md";
import { Content as KakaoTechCampusContent } from "@contents/experiences/kakao-tech-campus.md";
---

<div class="my-12 flex flex-col gap-8 w-[420px]:gap-4">
  <h2>
    <PointSpan
      text="Experiences"
      className="text-5xl font-bold"
      id="experiences"
    />
  </h2>
  <LeftLine>
    <AboutSubHeader
      title="Buzzvil(인턴)"
      description="프론트엔드 (Suppply Product)"
      period="2025.01 - 2025.04"
    />
    <DefaultProse>
      <BuzzvilContent />
    </DefaultProse>
    <AboutSubHeader
      title="크래프톤 정글 (KRAFTON Jungle) 6기"
      period="2024.07 - 2024.11"
    />
    <DefaultProse>
      <JungleContent />
    </DefaultProse>
    <AboutSubHeader
      title="Econovation (IT 개발 동아리)"
      period="2021.07 - 2024.08"
    />
    <DefaultProse>
      <EconovationContent />
    </DefaultProse>
    <AboutSubHeader
      title="카카오 테크 캠퍼스 (Kakao Tech Campus) 1기"
      period="2023.04 - 2023.11"
    />
    <DefaultProse>
      <KakaoTechCampusContent />
    </DefaultProse>
  </LeftLine>
</div>
