---
interface Props {
  title?: string;
  description?: string;
  period?: string;
}

const { title, description, period } = Astro.props;
---

<div
  class="my-2 flex flex-wrap items-center gap-4 max-[420px]:flex-col max-[420px]:items-start max-[420px]:gap-1"
>
  <h3 class="text-xl font-semibold"><slot name="title">{title}</slot></h3>
  {
    description && (
      <>
        <span class="h-5 w-[1.5px] bg-gray-600 max-[420px]:hidden" />
        <p>{description}</p>
      </>
    )
  }
  <span class="h-[1px] flex-1 bg-gray-900"></span>
  {period && <span class="text-sm text-gray-500">{period}</span>}
  <span class="h-[1px] w-full bg-gray-900 min-[420px]:hidden"></span>
</div>
