/* font */

body {
	background: url('/includes/images/background.jpg') 100% no-repeat;
}

@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
* {
	font-family: 'Nanum Gothic', sans-serif;
}

/* navigation */

#nav {
	margin-top: 1rem;
	margin-left: 13%;
	width: max-content;
	margin-bottom: 1rem;
}

.navigation {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.navigation li {
	float: left;
}

.navigation li>a {
	color: black;
	display: block;
	padding: 8px;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
}

.nav-header {
	float: left;
	padding: 8px;
	margin-right: 10px;
	text-decoration: none;
	color: black;
	font-weight: 400;
}

.nav-header::before, .nav-header::after {
	height: 0px !important;
}

/* navigaion animation */

.menu-hover-lines {
	text-align: center;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 1px;
	transition: all 0.35s ease;
}

.menu-hover-lines li a {
	position: relative;
	margin-left: 1rem;
}

.menu-hover-lines li:first-child a {
	margin-left: 0;
}

.menu-hover-lines li.active>a {
	background-color: transparent;
}

.menu-hover-lines a:before, .menu-hover-lines a::after, .menu-hover-lines button::before, .menu-hover-lines button::after {
	height: 3px;
	position: absolute;
	content: '';
	transition: all 0.35s ease;
	background-color: #1779ba;
	width: 0;
}

.menu-hover-lines a::before, .menu-hover-lines button::before {
	top: 0;
	left: 0;
}

.menu-hover-lines a::after, .menu-hover-lines button::after {
	bottom: 0;
	right: 0;
}

.menu-hover-lines a:hover, .menu-hover-lines li.active>a {
	transition: all 0.35s ease;
}

.menu-hover-lines a:hover::before, .menu-hover-lines .active a::before, .menu-hover-lines a:hover::after, .menu-hover-lines .active a::after, .menu-hover-lines button:hover::after, .menu-hover-lines button:hover::before {
	width: 100%;
}

/* dropdown */

.dropdown-button {
	padding: 8px;
	font-size: 15px;
	border: none;
	background-color: transparent;
	font-weight: bold;
}

.dropdown {
	margin-left: 1rem;
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: fixed;
	min-width: 75px;
	padding: 5px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	background-color: whitesmoke;
	z-index: 10;
}

.dropdown-content a {
	margin-left: 0 !important;
	color: black;
	padding: 8px;
	text-decoration: none;
	display: block;
}

.dropdown:hover .dropdown-content {
	transition: all 0.35s ease;
	display: block;
}

.container {
	margin-left: 13%;
	margin-right: 13%;
}

.plus {
	display: inline-block;
	width: 50px;
	height: 50px;
	background: linear-gradient(#fff, #fff), linear-gradient(#fff, #fff), #000;
	background-position: center;
	background-size: 50% 2px, 2px 50%;
	/*thickness = 2px, length = 50% (25px)*/
	background-repeat: no-repeat;
}

.alt {
	background: linear-gradient(#000, #000), linear-gradient(#000, #000);
	background-position: center;
	background-size: 50% 2px, 2px 50%;
	/*thickness = 2px, length = 50% (25px)*/
	background-repeat: no-repeat;
}

.radius {
	border-radius: 50%;
}

/*font*/

@font-face {
	font-family: "summernote";
	src: url("/includes/css/font/summernote.ttf") format("truetype"), url("/includes/css/font/summernote.eot") format("opentype"), url("/includes/css/font/summernote.woff") font("woff");
}