---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About Me"
  description="User First Development"
  pubDate={new Date("2024/05/23")}
  heroImage="/about/blog-placeholder-about.jpg"
>
  <p>
    안녕하세요. 저는 임채승입니다. 저는 javascript를 주로 사용하여 문제를
    해결하는 프론트엔드 개발자입니다.
  </p>
</Layout>
