---
import BaseLayout from "@layouts/BaseLayout.astro";
import Gnb from "@components/commons/gnb.astro";
import IntroBackground from "@components/intro/background";
import IntroAboutMe from "@components/intro/me.astro";
import IntroLinks from "@components/intro/links.astro";
import AboutMe from "@components/about/me.astro";
import Skills from "@components/about/skills.astro";
import Experiences from "@components/about/experiences.astro";
---

<BaseLayout title="About Me">
  <Gnb />
  <main class="mx-auto max-w-7xl px-4">
    <section class="flex min-h-screen flex-col items-center justify-center">
      <IntroBackground client:only={true} />
      <IntroAboutMe />
      <IntroLinks />
    </section>
    <section
      id="about-me"
      class="min-h-screen pt-16 mx-auto w-full max-w-3xl py-16"
    >
      <AboutMe />
      <Skills />
      <Experiences />
    </section>
  </main>
</BaseLayout>
