<div class="p-8">
  <ul
    class="flex flex-wrap items-center justify-center gap-6 text-xl max-[420px]:flex-col"
  >
    <li>
      <a
        href="/about-me"
        class="swup-fade"
        style={{
          transitionDelay: "400ms",
        }}>About Me</a
      >
    </li>
    <li>
      <a
        href="/blog"
        class="swup-fade"
        style={{
          transitionDelay: "500ms",
        }}>Blog</a
      >
    </li>
    <li>
      <a
        href="/projects"
        class="swup-fade"
        style={{
          transitionDelay: "600ms",
        }}>Projects</a
      >
    </li>
  </ul>
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const links = document.querySelectorAll("a");
    links.forEach((link) => {
      link.ontransitionend = () => {
        link.style.transitionDelay = "0ms";
      };
    });
  });
</script>

<style>
  a {
    padding: 0.5rem 1rem;
    border-radius: 9999px;
    border: 1px solid #000;
    cursor: pointer;
    background-color: transparent;
    transform: translateY(-40px);
    opacity: 0;

    transition:
      100ms ease-in background-color,
      300ms ease-in trasform,
      300ms ease-in opacity;

    @media (prefers-color-scheme: dark) {
      border-color: #fff;
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.3);
    }
  }

  html.swup-enabled a.swup-fade {
    transform: translateY(0);
    opacity: 1;
  }

  html.is-rendering a.swup-fade {
    transform: translateY(-40px);
    opacity: 0;
  }
</style>
