---
import PointSpan from "../commons/PointSpan.astro";
---

<h1 class="swup-fade text-center text-3xl font-bold break-words break-keep">
  솔루션을 설계하는 프로덕트 엔지니어,
  <PointSpan text="임채승" className="text-5xl" />
  입니다.
</h1>

<style>
  h1.swup-fade {
    transform: translateY(-40px);
    opacity: 0;
    transition:
      transform 500ms ease-out,
      opacity 500ms ease-in-out;
  }

  html.swup-enabled h1.swup-fade {
    transform: translateY(0);
    opacity: 1;
  }

  html.is-rendering h1.swup-fade {
    transform: translateY(-40px);
    opacity: 0;
  }
</style>
