---
import { cn } from "@/lib/utils";

const className = cn(
  "w-full max-w-fit break-words break-keep",
  "prose prose-neutral dark:prose-invert prose-li:my-0 prose-ul:my-0 prose-p:my-0",
  "prose:[&_*]:break-words prose:[&_*]:break-keep",
  "prose-img:rounded-2xl prose-img:text-center prose-img:scale-90 prose-img:-my-4 prose-img:pointer-events-none prose-img:place-self-center",
  "prose-code:after:content-none prose-code:before:content-none prose-code:bg-gray-200 prose-code:py-0.5 prose-code:px-2 prose-code:rounded-lg"
);
---

<div class={className}>
  <slot />
</div>

<script is:inline>
  if (typeof document !== "undefined") {
    document.querySelectorAll(".notion-image").forEach((image) => {
      const imgElement = image.querySelector("img");
      if (imgElement.attributes.getNamedItem("src")) return;
      if (imgElement.attributes.getNamedItem("__astro_image_")) {
        const data = JSON.parse(
          imgElement.attributes.getNamedItem("__astro_image_").value
        );
        const publicIndex = data.src.indexOf("/public/");
        imgElement.setAttribute("src", data.src.slice(publicIndex + 7));
        imgElement.setAttribute(
          "alt",
          data.alt || data.src.split("/").pop() || ""
        );
        imgElement.removeAttribute("__astro_image_");
        imgElement.addEventListener("error", () => {
          imgElement.classList.add("hidden");
          const caption = image.querySelector(".notion-caption");
          if (caption) {
            caption.classList.add("hidden");
          }
        });
      }
    });
  }
</script>

<style is:global>
  @reference "tailwindcss";

  .notion-caption {
    @apply text-center;
  }
  .with-caption {
    @apply my-4;
  }

  .notion-video {
    @apply mx-auto w-full max-w-3xl;
    iframe {
      @apply aspect-video w-full;
    }
  }
</style>
