---
import { cn } from "@/lib/utils";

const className = cn(
  "w-full max-w-fit break-words break-keep",
  "prose prose-neutral dark:prose-invert prose-li:my-0 prose-ul:my-0 prose-p:my-0",
  "prose-code:after:content-none prose-code:before:content-none prose-code:bg-gray-200 prose-code:py-0.5 prose-code:px-2 prose-code:rounded-lg"
);
---

<div class={className}>
  <slot />
</div>
