<nav
  class="fixed top-0 z-50 w-full bg-white/30 backdrop-blur-lg dark:bg-gray-900/30"
>
  <div class="mx-auto flex w-full max-w-7xl items-center justify-between p-4">
    <a href="/" class="text-lg font-bold">
      {"Loopy's Blog"}
    </a>
  </div>
</nav>
