<div class="pl-4 max-[420px]:pl-0">
  <div
    class="flex gap-8 border-l border-gray-900 dark:border-gray-100 max-[420px]:border-l-0 max-[420px]:flex-col max-[420px]:gap-4 max-[420px]:items-center"
  >
    <div></div>
    <div class="flex-1">
      <slot />
    </div>
  </div>
</div>
