---
interface Props {
  text: string;
  className?: string;
}

const { text } = Astro.props;
const className = Astro.props.className || "";
---

<span
  class={"after:mr-2 after:mb-7 after:inline-block after:h-3 after:w-3 after:rounded-full after:bg-[#0048F4] " +
    className}
>
  {text}
</span>
