---
import { cn } from "@lib/utils";

interface Props {
  text: string;
  className?: string;
  id?: string;
}

const { text } = Astro.props;
const className = Astro.props.className || "";
const id = Astro.props.id || "";
---

<span
  class={cn(
    "after:mr-2 after:mb-7 after:inline-block after:h-3 after:w-3 after:rounded-full after:bg-[#0048F4]",
    className,
  )}
  id={id}
>
  {text}
</span>
