<!DOCTYPE html>
<html lang="ko_KR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
    <link href="/includes/css/common.css" rel="stylesheet">
    <link href="/includes/css/board.css" rel="stylesheet">
    <link href="/includes/css/summernote-lite.min.css" rel="stylesheet">
</head>
<body onload="loadon();">
    <%- include('../includes/header') %>
    <div class="container">
        <div class="title" style="text-align: center;">글 작성하기</div>
        <div class="board-top">
            <input class="board-title" id="title" type="text" placeholder="제목" >
            <select class="board-select" id="boardType" style="margin-left: 10px">
                <option value="">선택해주세요</option>
            </select>
        </div>
        <div id="summernote"></div>
        <input class="board-button" type="button" value="등록" onclick="sendPost();" style="float: right;">
    </div>
<script src="/includes/js/jquery.min.js"></script>
<script src="/includes/js/summernote-lite.min.js"></script>
<script>
$('#summernote').summernote();
const loadon = () => {
    $.ajax({
        type: 'GET',
        url: 'https://ori-db.run.goorm.io/blog/getAllboardsType',
        data: {},
        dataType: 'json',
        success: (data) => {
            if(data.success){
                putBoardTypeSelect(data)
            }
        },
        error: (err) => {alert('에러 발생!')}
    });
}

const putBoardTypeSelect = (data) => {
    $.each(data, (index, elem) => {
        $('#boardType').html($('#boardType').html() + `<option value="${elem.board_name}">${elem.board_name}</option>`);
    })
}

const sendPost = () => {
    $.ajax({
        type: 'POST',
        url: 'https://ori-db.run.goorm.io/blog/putContent',
        data: {
            boardType: $('#boardType').val(),
            title: $('#title').val(),
            content: $('.note-editable')[0].innerHTML
        },
        dataType:'json',
        success: () => {
            if(data.success) {
                alert('등록 되었습니다');
                window.location.href="https://ori-blog.run.goorm.io/boards";
            }
        },
        error: (err) => {alert('에러 발생!')}
    })
}
</script>
</body>
</html>
